doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Vive natural 
        link(rel="stylesheet", href="/css/main/dashboard.css")
    body 
        // menu de administrador
        include ../../partials/menuAdmin.pug
        main 
            article
                h1 Clientes pendientes
            article 

        script(type="module", src="/js/pages/admin/clientes/clientesAdmi") 
                