
/* Menú lateral */
#menu-nav {
    width: 250px;
    background-color: var(--verde-oscuro-principal);
    color: var(--blanco-roto);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Contenido principal */
main, .contenido-principal {
    flex: 1;
    padding: 20px;
    background-color: var(--blanco-roto);
    font-size: var(--letra-texto);
}

/* Navegación */
#menu-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu-nav li {
    position: relative;
}

#menu-nav a {
    display: block;
    padding: 12px 20px;
    color: var(--blanco-roto);
    text-decoration: none;
    transition: background 0.3s;
    font-size: var(--letra-texto-un-poquito);
}

#menu-nav a:hover {
    background-color: var(--verde-oliva);
}

/* Submenús con animación suave */
.submenu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    background-color: var(--dorado-suave);
    color: var(--verde-oscuro-principal);
}

/* Mostrar submenú al hacer hover */
li:hover > .submenu {
    max-height: 500px; /* suficiente para mostrar los ítems */
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease-in-out;
}

/* Ítems del submenú */
.submenu li a {
    padding-left: 40px;
    background-color: var(--dorado-suave);
    color: var(--verde-oscuro-principal);
    font-size: var(--letra-texto);
    transition: background-color 0.3s;
}

.submenu li a:hover {
    background-color: var(--beige-claro);
    color: var(--verde-oscuro-principal);
}

#menu-user img{
    border-radius: 50%;
}

.menu-responsive{
    background-color: var(--verde-oscuro-principal);
    display: none;
}

.menu-responsive h1{
    color: var(--blanco-roto);
}

.menu-responsive button{
    border: none;
    background-color: transparent;
    color: var(--blanco-roto);
    font-size: var(--letra-titulo);
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.none{
    display: none;
}

.menu-movil{
    display: flex !important;
    align-items: center !important;
    min-height: 92dvh !important;
    width: 100% !important;
}

.menu-movil a{
    text-align: center !important;
    width: 92dvw !important;
}

@media (max-width:700px){
    #menu-nav{
       display: none ;
    }
    .menu-responsive{
        position: sticky;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 8dvh;
    }
} 
    