doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Resumen de Pago | Vive Natural
    link(rel="stylesheet", href="/css/main/pago.css")
    
  body 
    include ./partials/nav
    main
      h1 Resumen de tu Pedido
      
      #carritoContainer

      section#resumen
        h2 Total
          p#total $0
        
        .acciones
          a.btn(href="/carrito") Editar Carrito
          button.btn#continuarPago pago con aprobación previa
          

        // Modal de método de pago
        div#modalPago(class="modal oculto")
            div.modal__contenido
                h2 Selecciona el método de pago

                form#formMetodoPago
                    label
                        input(type="radio", name="metodo", value="contado", checked)
                        | Pago de contado
                    label
                        input(type="radio", name="metodo", value="cuotas")
                        | Pago en cuotas

                    // Campos adicionales si elige cuotas
                    div#opcionesCuotas(class="oculto")
                        label(for="cuotasSelect") Número de cuotas:
                        select#cuotasSelect(name="cuotas")
                        // Las opciones se insertan con JS

                        p Valor por cuota: 
                            span#valorCuota $0

                        label(for="fechaLimite") Fecha límite de pago por mes:
                            div(class="tooltip-container" tabindex="0")
                                span(class="tooltip-icon") ❓
                                div(class="tooltip-text")
                                    p La fecha límite indica el día máximo de cada mes en el que debes pagar tu cuota. No puedes pasarte de esa fecha. El año mostrado es solo referencial y no influye en los pagos.
                            
                            input(type="date", name="fecha_limite", id="fechaLimite")

                    .acciones
                        button.btn(type="submit") Confirmar
                        button.btn#cancelarModal(type="button") Cancelar


        include ./partials/footer
        script(type="module", src="/js/pages/pagoPages.js")


  