doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Perfil | Vive Natural
        link(rel="stylesheet", href="/css/main/perfil.css")
    body 
        include ./partials/nav 
        div.content-and-footer-wrapper
            main            
                .lista-pedidos
                    article.iconos-sesion
                        a(href="/api/auth/auth/logout") 
                            img(src="/img/svg/log-out.svg", alt="Icono de cerrar sesion")
                        a(href="/admin/") 
                            img(src="/img/svg/home.svg", alt="Icono de una casa")
                        a(href="/perfil/settings") 
                            img(src="/img/svg/settings.svg", alt="Icono de ajustes")
                    h2 Mis Pedidos
                    p.texto-explicativo
                        | Aquí puedes consultar el historial de tus compras, el estado de cada pedido y los pagos realizados o pendientes.
                    ul( id="pedidos-ul")

            include ./partials/footer
        script(type="module", src="/js/pages/perfilPages.js") 