doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Perfil | Vive Natural
        link(rel="stylesheet", href="/css/main/index.css")
        link(rel="stylesheet", href="/css/prueba.css")
    body 
        include ./partials/nav 
        a(href="/sesion/logout") Cerrar sesión 
        br
        a(href="/sesion/admin/")  Si no eres admin no puedes