doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Vive natural
        link(rel="stylesheet", href="css/main/tienda.css")
    body 
        include partials/nav.pug
        main 
            article(id="tienda")
                h1 Productos Vive Natural
            include partials/ordenarBotones.pug
            article.productos 
                div#productosContainer

        include ./partials/footer.pug
    script(src="../js/pages/tiendaPages.js" type="module"  defer) 
