main{
    width: 100%;
}

article{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.inicio{
    height: 89dvh;
}

.info{
    max-width: 80dvw;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
}

.info h2{
    margin-bottom: 15px;
    text-align: center;
}

.info p{
    text-align: center;
}

article h1{
    font-size: var(--letra-grande);
}

.titulo{
    font-size: var(--letra-titulo);
}

.texto{
    font-size: var(--letra-subtitulo);
}
