.content-and-footer-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh; 
}

main {
    max-width: 1200px; /* Mantener si el main tiene un ancho máximo general */
    margin: 0 auto; /* Centrar el main */
    padding: 2rem; /* Mantener padding general */
    flex-grow: 1; /* Permitir que el main se expanda y empuje el footer */
}

#tienda h1{
    font-size: var(--letra-titulo) ;
    margin: 50px;
    text-align: center;
}

#productosContainer h1{
    font-size: var(--letra-titulo);
    text-align: center;
    color: var(--verde-oscuro-principal); /* Nuevo color para el texto */
    grid-column: 1/4;
    margin: 50px auto;
}