doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Iniciar sesión
        link(rel="stylesheet", href="/css/main/login.css")
    body.login
        article.login-container
            h1 Iniciar sesión
            a(href="/sesion/auth/google") Iniciar sesión con Google
                img(src="img/google.png", alt="Logo de Google")
            